@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Readex+Pro:wght@300&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:ital,wght@1,300&family=Readex+Pro:wght@300&family=Roboto+Condensed:wght@700&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Lato', sans-serif;*/



body{
    background-color: cornsilk;
}
*{
    margin: 0;
    padding:0;
}
nav{
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul{
    display:flex;/*which item present in ul tag ,that will come horizantally*/
    /*for removing dot inside ul tag*/
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 20px 10px;
}
.brand img{
    width: 25px;
    padding:10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
    display:flex;
    margin:23px auto;
    width:70%;
    border: 12px;
    padding:34px;
    background-image: url('bg.jpg');



}
.bottom{
    position:sticky;
    height:130px;
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;/*horizonatally*/
    align-items: center;/*vertically*/
    flex-direction: column;
    bottom:0;
}
#mypro{
  width: 80vh;
  cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor:pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
   width:400px;
    color: black;
    margin:12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
    padding:0px 2px;


}
.songItem img{
    width:23px;
    margin:0 22px;
    border-radius: 25px;

}
.time i{
    cursor: pointer;
  
}
.songinfo{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:29vw;
    font-family: 'Lato', sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}